body {
  margin: 0;
  font-family: sans-serif;
  padding: 0; 
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom; 
  background-color: #95e8f3;

}

html{ 
  min-height: 100%;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 68px;
}

form button, form h5 { 
  margin: 20px 0;
}